<div class="bounties">
Available Bounties:
<ul>
{{#each planetBounties}}
<li id="{{person}}" credits="{{credits}}">{{person}}, Credits: {{credits}} <button type="button" class="collect">Collect</button></li>

{{/each}}
</ul>
</div>
