<div class="bounties">
Available Bounties:
<ul>
{{#each planetBounties}}
{{this}}
<li>{{person}}, Credits: {{credits}} <button type="button">Collect</button></li>
{{else}}
None!
{{/each}}
</ul>
</div>
