<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="/gamestyle.css" media="screen">

  </head>
  <body {{#if name}}class={{name}} {{else}}class="intro"{{/if}}>

    {{{body}}}

  </body>

  <script src="/index.js"></script>
</html>
