{{> header}}

<main>

<div class="selection-page-header">
<strong>Star Wars Universe</strong>
</div>

<div class="instructions">
<p><strong>Click on a planet to go to it</strong></p>
<p><strong>Collect Bounties to gain credits</strong></p>
</div>

<div class="planet-selection">
<img src="" alt="hoth" height="50" width="50">
<img src="" alt="dagobah" height="50" width="50">
<img src="" alt="endor" height="50" width="50">
<img src="" alt="tatooine" height="50" width="50">
<img src="" alt="coruscant" height="50" width="50">
</div>

<div class="stats">
<ul>
<li>Credits: </li>
<li>Collected Bounties: </li>
</ul>
</div>

</main>
