{{> header}}

<main>
<div class="intro">

<p>
<h1 class="welcome">Welcome to Star Wars Bounty Hunter</h1>
</p>

<div class="login">
   Enter your username: <input type="text" name="username">
   <input type="submit" value="Enter"> 
</div>
</div>

</main>
