{{> header}}

<main>

<div class="selection-page-header">
<strong>Star Wars Universe</strong>
</div>

<div class="instructions">
<p><strong>Click on a planet to go to it</strong></p>
<p><strong>Collect Bounties to gain credits</strong></p>
</div>

<div class="planet-selection">
<img src="http://vignette4.wikia.nocookie.net/starwars/images/1/1d/Hoth_SWCT.png/revision/latest/scale-to-width-down/500?cb=20160630022322" alt="hoth" height="50" width="50">
<img src="http://vignette2.wikia.nocookie.net/starwars/images/4/48/Dagobah_ep3.jpg/revision/latest/scale-to-width-down/500?cb=20100122163146" alt="dagobah" height="50" width="50">
<img src="http://vignette2.wikia.nocookie.net/starwars/images/9/96/Endor-DB.png/revision/latest?cb=20150920045330" alt="endor" height="50" width="50">
<img src="http://vignette2.wikia.nocookie.net/starwars/images/b/b0/Tatooine_TPM.png/revision/latest/scale-to-width-down/270?cb=20131019121937" alt="tatooine" height="50" width="50">
<img src="http://vignette3.wikia.nocookie.net/starwars/images/8/84/CoruscantGlobeE1.png/revision/latest/scale-to-width-down/500?cb=20130123002137" alt="coruscant" height="50" width="50">
<img src="http://vignette3.wikia.nocookie.net/starwars/images/6/69/Kasyyykunleashed.jpg/revision/latest?cb=20090327122712" alt="kashyyyk" height="50" width="50">
</div>

<div class="stats">
<ul>
<li>Credits: </li>
<li>Collected Bounties: </li>
</ul>
</div>

</main>
