{{> header}}

<main>
<div class="intro">

<div class="selection-page-header">
<strong>Star Wars Universe</strong>
</div>

<div class="instructions">
<p><strong>Click on a planet to go to it</strong></p>
<p><strong>Collect Bounties to gain credits</strong></p>
</div>

<div class="planet-selection">
<div class="planet-click">
<img src="http://s-media-cache-ak0.pinimg.com/originals/e0/c9/bd/e0c9bd2e3166c58a9aea8bb85f20e8a9.jpg" alt="hoth" height="220" width="220">
<p class="caption">Hoth</p>
</div>
<div class="planet-click">
<img src="http://img.planete-starwars.com/saga/photos/3/dagobah.jpg" alt="dagobah" height="200" width="200">
<p class="caption">Dagobah</p>
</div>
<div class="planet-click">
<img src="http://vignette2.wikia.nocookie.net/starwars/images/9/96/Endor-DB.png/revision/latest?cb=20150920045330" alt="endor" height="150" width="150">
<p class="caption">Endor</p>
</div>
<div class="planet-click">
<img src="http://vignette2.wikia.nocookie.net/starwars/images/b/b0/Tatooine_TPM.png/revision/latest/scale-to-width-down/270?cb=20131019121937" alt="tatooine" height="210" width="210">
<p class="caption">Tatooine</p>
</div>
<div class="planet-click">
<img src="http://vignette3.wikia.nocookie.net/starwars/images/8/84/CoruscantGlobeE1.png/revision/latest/scale-to-width-down/500?cb=20130123002137" alt="coruscant" height="300" width="300">
<p class="caption">Coruscant</p>
</div>
<div class="planet-click">
<img src="http://vignette3.wikia.nocookie.net/sw1mush/images/8/88/Planet_kashyyyk.jpg/revision/latest?cb=20060228194831" alt="kashyyyk" height="200" width="200">
<p class="caption">Kashyyyk</p>
</div>
</div>

<div class="stats">
<ul>
<li>User: {{user}}</li>
<li>Credits: {{credits}}</li>
<li>Collected Bounties: </li>
</ul>
</div>
</div>
</main>
