{{> header}}

<main>
<div class="intro">

<h1 class="welcome">Welcome to Star Wars Bounty Hunter</h1>

<div class="login">
   Enter your username: <input type="text" name="username">
   <input class="login-button" type="submit" value="Enter"/>
</div>

</div>
</main>
