{{> header}}

<main>
<div class="intro">

<h1 class="welcome">Welcome to Star Wars Bounty Hunter</h1>

<form class="login" action="/login" method="post">
   Enter your username: <input type="text" name="username" required>
   <input class="login-button" type="submit" value="Enter"/>
</form>

</div>
</main>
