html {
   min-height: 100%;
   position: relative;
}

body {
   margin: 0px;
}

.intro {
   margin: 0px;
   background-image: url(pictures/stars.JPG);
   background-color: black;
   font-family: arial;
}

.intro-nav {
   margin: 0px;
   background-color: yellow;
   font-family: arial;
   top: 0px;
   left: 0px;
   right: 0px;
   padding: 10px;
}

.intro-nav a {
   margin: 0px;
   text-decoration: none;
   color: black;
}

.intro-nav a:hover {
   background-color: white;
   top: 0px;
}

.logout {
   float: right;
}

.welcome {
   margin: auto;
   width: 50%;
   padding: 20px;
   color: yellow;
  font-size: 80px;
  text-align: center;
}

.login {
   margin: auto;
   width: 50%;
   padding: 20px;
   border: 3px solid white;
   background-color: rgba(225, 225, 225, 0.5);
}

.info {
   margin: 0px;
   position: fixed;
   top: 30px;
   z-index: -1;
   font-family: arial;
   padding: 10px;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   max-width: 200px;
}

.page-404 {
   margin: 0px;
   background-image: url(pictures/stars.JPG);
   background-color: black;
   font-family: arial;
   color: white;
}

.planet-name {
   margin: auto;
   width: 50%;
   padding: 25px;
   font-size: 50px;
   text-align: center;
}

li {
   padding: 15px;
   line-height: 140%;
}

.hoth {
   margin: 0px;
   background-image: url(pictures/hoth.JPG);
   background-size: cover;
   font-family: arial;
}

.endor {
   margin: 0px;
   background-image: url(pictures/endor.JPG);
   background-size: cover;
   font-family: arial;
}

.coruscant {
   margin: 0px;
   background-image: url(pictures/coruscant.JPG);
   background-size: cover;
   font-family: arial;
}

.tatooine {
   margin: 0px;
   background-image: url(pictures/tatooine.JPG);
   background-size: cover;
   font-family: arial;
}

.dagobah {
   margin: 0px;
   background-image: url(pictures/dagobah.JPG);
   background-size: cover;
   font-family: arial;
}
