html {
   min-height: 100%;
   position: relative;
}

body {
   margin: 0px;
}

.intro {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/stars.jpg");
   background-color: black;
   font-family: arial;
}

.intro-nav {
   margin: 0px;
   background-color: yellow;
   font-family: arial;
   top: 0px;
   left: 0px;
   right: 0px;
   padding: 10px;
   z-index: 90;
}

.intro-nav a {
   margin: 0px;
   text-decoration: none;
   color: black;
}

.intro-nav a:hover {
   background-color: white;
   top: 0px;
}

.logout {
   float: right;
}

/**************
 * Login Page *
 * ************/

.welcome {
   margin: auto;
   width: 50%;
   padding: 20px;
   color: yellow;
  font-size: 80px;
  text-align: center;
}

.login {
   margin: auto;
   width: 50%;
   padding: 20px;
   border: 3px solid white;
   background-color: rgba(225, 225, 225, 0.5);
}

/**************
 * Index Page *
 * ************/

.selection-page-header {
   margin: auto;
   width: 50%;
   padding: 20px;
   color: yellow;
  font-size: 60px;
  text-align: center;
}

.instructions {
   margin: 0px;
   position: fixed;
   top: 40px;
   bottom: 0px;
   z-index: 10;
   font-family: arial;
   padding: 10px;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   max-width: 200px;
}

.planet-selection {
   margin: auto;
   width: 50%;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
}

img {
   padding: 20px;
}

.planet-click {
   margin: 0px;
   color: white;
   text-align: center;
}

.caption {
   margin: 0px;
}

.stats {
   margin: 0px;
   position: absolute;;
   top: 40px;
   float: right;
   right: 0;
   bottom: 0px;
   z-index: 10;
   font-family: arial;
   padding: 10px;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   max-width: 200px;
}

.page-404 {
   margin: 0px;
   padding: 30px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/stars.jpg");
   background-color: black;
   font-family: arial;
   font-size: 50px;
   color: white;
}

/****************
 * Planet Stuff *
 * **************/

h2 {
   margin-top: 10px;
}

.planet-name {
   margin: auto;
   width: 50%;
   padding: 25px;
   font-size: 50px;
   text-align: center;
   background-color: white;
}

.info {
   margin: 0px;
   position: fixed;
   top: 40px;
   bottom: 0px;
   z-index: 10;
   font-family: arial;
   padding: 10px;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   max-width: 200px;
}

li {
   padding: 15px;
   line-height: 140%;
}

.hoth {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/hoth.jpg");
   background-size: cover;
   font-family: arial;
}

.endor {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/endor.jpg");
   background-size: cover;
   font-family: arial;
}

.coruscant {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/coruscant.jpg");
   background-size: cover;
   font-family: arial;
}

.tatooine {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/tatooine.jpg");
   background-size: cover;
   font-family: arial;
}

.dagobah {
   margin: 0px;
   background-image: url("https://raw.githubusercontent.com/OSU-CS290-F16/final-project-cs290-war-of-stars/master/final/pictures/dagobah.jpeg");
   background-size: cover;
   font-family: arial;
}
